$primary-color: #f4f4f4;
$color1: #e885049d;
$color2: #ff0000a3;
$color3: #dabc11bc;
@mixin gradient($color1, $color2, $color3) {
    background: linear-gradient(to right, $color1, $color2, $color3);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    @include gradient($color1,$color2 ,$color3);
    min-height: 100vh;
    display:flex ;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    margin-bottom: 5rem;
    background-color: $primary-color;
}

 .budget-box{
    height: 30rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     border: solid 2px black;
    background-color: $primary-color;
    }

.total-budget{
    background-color: $primary-color;
    width: 30rem;
}

.list{
    margin-top: 2rem;
    border: 1px border solid;
    display: flex;
    justify-content:space-evenly;
    gap: 5rem;
    
    .income{
    text-align: center;
    width: 15rem;
    border: solid 2px black;
    background-color: aquamarine;

    .income-list{
        background-color: white;
        height: 10rem;
    }
}
.expenses{
    text-align: center;
    width: 15rem;
    border: solid 2px black;
    background-color: aquamarine;

     .expenses-list{
        background-color: white;
        height: 10rem;
    }
}

}



